/* FONTES */
$fonte: 'roboto', sans-serif;

/*  VARIAVEIS  */  

$cor-primaria: #20b3a7;
$cor-secundaria: #fa9806;
$cor-terciaria: #e6f703;
$cor-quartenaria: #e7f0f07e;
/* FONT SIZE */
$font-size-titulo: 5rem;
$font-size-subtitulo: 3rem;
$font-size-texto: 1.5rem;
